<ion-header>
  <ion-toolbar>
    <ion-title>心理テスト</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>第0/5問</ion-card-subtitle>
      <ion-card-title>先ずは下のお名前をひらがなで書いてください</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-input [(ngModel)]="name" placeholder="ひらがな" type="text"></ion-input>
      </ion-list>
      <ion-button (click)='nextQuestion()' [disabled]="!submittable" expand="block">次へ</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
