<ion-header>
  <ion-toolbar>
    <ion-title>心理テスト</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>第2/5問</ion-card-subtitle>
      <ion-card-title>この中でもっとも好きな動物を教えてください</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="medium" (click)='nextQuestion("バク")' expand="block">バク</ion-button>
      <ion-button color="medium" (click)='nextQuestion("コウモリ")' expand="block">コウモリ</ion-button>
      <ion-button color="medium" (click)='nextQuestion("伊勢海老")' expand="block">伊勢海老</ion-button>
      <ion-button color="medium" (click)='nextQuestion("鶯")' expand="block">鶯</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
