<ion-header>
  <ion-toolbar>
    <ion-title>心理テスト</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>第5/5問</ion-card-subtitle>
      <ion-card-title>この中でもっとも勤めてみたい職業を教えてください</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="medium" (click)='nextQuestion("シスターさん")' expand="block">シスターさん</ion-button>
      <ion-button color="medium" (click)='nextQuestion("心理テスト作家")' expand="block">心理テスト作家</ion-button>
      <ion-button color="medium" (click)='nextQuestion("プロレスラー")' expand="block">プロレスラー</ion-button>
      <ion-button color="medium" (click)='nextQuestion("弁当屋さん")' expand="block">弁当屋さん</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
