<ion-header>
  <ion-toolbar>
    <ion-title>心理テスト</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>第4/5問</ion-card-subtitle>
      <ion-card-title>この中でもっとも好きな音を教えてください</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)='nextQuestion("ジッパー")' expand="block">ジッパー</ion-button>
      <ion-button (click)='nextQuestion("レンジのチーン")' expand="block">レンジのチーン</ion-button>
      <ion-button (click)='nextQuestion("学校の鐘")' expand="block">学校の鐘</ion-button>
      <ion-button (click)='nextQuestion("汽車の音")' expand="block">汽車の音</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
