<ion-header>
  <ion-toolbar>
    <ion-title>心理テスト</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>第1/5問</ion-card-subtitle>
      <ion-card-title>この中でもっとも好きな色を教えてください</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)='nextQuestion("紫")' expand="block">紫</ion-button>
      <ion-button (click)='nextQuestion("オレンジ")' expand="block">オレンジ</ion-button>
      <ion-button (click)='nextQuestion("ピンク")' expand="block">ピンク</ion-button>
      <ion-button (click)='nextQuestion("茶色")' expand="block">茶色</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
